{% extends 'index.html.twig' %}

{% block title %}Register for an Event{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="card shadow-lg p-4">
            <h1 class="text-center mb-4">Register for an Event</h1>

            {{ include('registration/_form.html.twig') }}

            <div class="text-center mt-3">
                <a href="{{ path('app_registration_index') }}" class="btn btn-secondary">
                    <i class="fas fa-arrow-left"></i> Back to List
                </a>
            </div>
        </div>
    </div>
{% endblock %}
