{% extends 'base.html.twig' %}

{% block title %}Random Joke{% endblock %}

{% block body %}
<div class="container mt-5">
    <div class="card shadow">
        <div class="card-header bg-primary text-white">
            <h1 class="h4 mb-0">Random Joke</h1>
        </div>
        <div class="card-body">
            <p class="lead">{{ joke }}</p>
            <a href="{{ path('app_quiz_random_joke') }}" class="btn btn-primary">
                <i class="fas fa-sync"></i> Get Another Joke
            </a>
        </div>
    </div>
</div>
{% endblock %}