{% extends 'index.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1 class="text-center text-primary mb-4">Create New User</h1>

        <div class="card shadow-sm p-4">
            {{ include('user/_form.html.twig', {'button_label': 'Create'}) }}
        </div>

        <div class="text-center mt-4">
            <a href="{{ path('app_user_index') }}" class="btn btn-secondary">Back to List</a>
        </div>
    </div>
{% endblock %}
